<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Currency Rate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Edit Currencies</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Currency 1</ion-label>
        <ion-input disabled value="USD"></ion-input>

      </ion-item>
      <ion-item>
        <ion-label position="floating">Currency 2</ion-label>
        <ion-select (ionChange)="onConvert(c2.value)" #c2 value="TND">
          <ion-select-option *ngFor="let curr of tabCurrencies" [value]="curr">{{ curr }} </ion-select-option>

        </ion-select>

        <!-- {{ c2.value }} -->

      </ion-item>
      <div class="ion-margin-vertical">
        <ion-button (click)="onConvert(c2.value)" expand="block" color="success">Convert</ion-button>

      </div>
    </ion-card-content>
  </ion-card>

  <div *ngIf="resultat">
    {{ resultat }}
  </div>

</ion-content>